#ImgE {
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0%;
    left: 30%;
    opacity: 90%;
}

.img_f {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

#crash {
    opacity: 50%;
}

#v {
    position: absolute;
    top: 20%;
    left: 50%;
    height: 60%;
    width: 20%;
}

#g {
    position: absolute;
    top: 20%;
    left: 30%;
    height: 60%;
    width: 20%;
}

#door {
    position: absolute;
    height: 80%;
    width: 40%;
    top: 10%;
    left: 30%;
}

#remembers {
    position: absolute;
    height: 80%;
    width: 40%;
    top: 10%;
    left: 30%;
}