#ImgE {
    position: absolute;
    height: 100%;
    width: 40%;
    top: 0%;
    left: 30%;
    opacity: 90%;
}

.img_f {
    position: fixed;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
}

#crash {
    opacity: 50%;
    position: fixed;
}

#v {
    position: absolute;
    top: 200%;
    left: 50%;
    height: 60%;
    width: 20%;
}

#g {
    position: absolute;
    top: 200%;
    left: 30%;
    height: 60%;
    width: 20%;
}

#scroll{
    position: absolute;
    top: 500%;
    height: 50%;
    width: 10%;
}